.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* padding: 1rem; */
  /* margin: 1rem 0; */
  border: none;
  border-radius: 12px;
  background-color: var(--card-rgb);
  color: var(--text-primary);
  gap: 3rem;
  max-width: var(--max-width);
}

.textContainer {
  flex-grow: 2;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-grow: 1;
}

.submitButton {
  border: 1px solid var(--text-primary);
  /* border-radius: 12px; */
  padding: 1rem;
  width: 100%;
}

.enabled:hover {
  color: var(--card-rgb);
  border: 1px solid var(--text-secondary);
}

.disabled {
  background-color: var(--text-third);
  color: var(--text-secondary);
  border: 1px solid var(--text-third);
}

.titleInput {
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: var(--card-rgb);
  color: var(--text-primary);
  font-size: 3rem;
  font-family: var(--font-dm-sans);
  margin-bottom: 1rem;
}

.titleInput input {
  width: 100%;
  border-bottom: 1px solid var(--text-primary);
  padding: 0.5rem;
}

.textInput {
  width: 100%;
  border-bottom: 1px solid var(--text-primary);
  background-color: var(--card-rgb);
  color: var(--text-primary);
  font-size: var(--text-normal-size);
  font-family: var(--font-dm-sans);
}

.textInput textarea {
  width: 100%;
  padding: 0.5rem;
}

.buttonGroup {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.selectedButton {
  border: 1px solid var(--text-primary);
  border-radius: 12px;
  background-color: var(--text-primary);
}

.categoryButton {
  border-radius: 120px;
  border: solid 1px rgba(0, 0, 0, 0.738);
  /* max-width: 100px; */
  font-size: 0.9rem;
  color: var(--text-primary);
  font-family: var(--font-dm-mono);
  background: white;
  border: 1px solid var(--text-primary);
  /* border-radius: 300px; */
  padding: 6px 16px;
  /* margin: 5px; */
  cursor: pointer; /* Cursor indicates clickable */
}

.categoryButton:hover {
  transform: scale(1);
  border: 1px solid var(--text-secondary);
  /* background: var(--text-third) */
}

/* Styles for each category */
.heartstrings {
  background: var(--heartstrings-bg);
}
.baresoul {
  background: var(--baresoul-bg);
}
.dreamscape {
  background: var(--dreamscape-bg);
}
.culturecache {
  background: var(--culturecache-bg);
}
.guidinglights {
  background: var(--guidinglights-bg);
}
.pulsepoints {
  background: var(--pulsepoints-bg);
}
.mindnbody {
  background: var(--mindnbody-bg);
}

/* Tooltip styling */
.tooltip {
  visibility: hidden; /* Hidden by default */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-family: var(--font-dm-sans);
}

.categoryButton:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.anonymousName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid var(--text-primary);
}

.anonymousName button {
  border: 1px solid var(--text-primary);
  padding: 1rem;
  border-radius: 300px;
}

.randomWordDisplay {
  max-width: 140px;
}

.randomWord {
  font-weight: 700;
}

.signInPrompt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: var(--max-width);
}

.signInPrompt h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--text-primary);
}

.signInPrompt a {
  text-decoration: underline;
}
