@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1200px;
  --border-radius: 12px;

  --text-primary: #0e0e0e;
  --text-secondary: #7d7d7d;
  --text-third: #dadada;

  --text-normal-size: 1.1rem;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --card-rgb: 255, 255, 255;
  --card-reverse-rgb: 0, 0, 0;
  --card-border-rgb: 0, 0, 0;

  --button-white: #ffffff;
  --button-grey: #9e9e9e;
  

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #50bbf962 0deg,
    #0883ff56 55deg,
    /* #54ffaf7d 120deg, */
    #4fd47074 160deg,
    transparent 360deg
  );

  --heartstrings-bg: linear-gradient(
    0deg,
    rgba(243, 204, 204, 1) 0%,
    rgba(249, 229, 229, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  --baresoul-bg: linear-gradient(
    0deg,
    rgba(204, 238, 243, 1) 0%,
    rgba(226, 248, 251, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  --dreamscape-bg: linear-gradient(
    0deg,
    rgba(212, 204, 243, 1) 0%,
    rgba(236, 233, 246, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  --culturecache-bg: linear-gradient(
    0deg,
    rgba(204, 243, 205, 1) 0%,
    rgba(225, 247, 225, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  --guidinglights-bg: linear-gradient(
    0deg,
    rgba(243, 204, 232, 1) 0%,
    rgba(255, 235, 249, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  --pulsepoints-bg: linear-gradient(
    0deg,
    rgba(223, 243, 167, 1) 0%,
    rgba(237, 245, 214, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  --mindnbody-bg: linear-gradient(
    0deg,
    rgba(174, 177, 250, 1) 0%,
    rgba(220, 222, 249, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-dm-mono);
  /* overflow: hidden; */
  overflow-y: scroll;
  background-image: url("bg.svg");
  
}

body::before {
  background-image: url("bg.svg");
}

body::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}
